/*
  This Day In History Plugin CSS
*/

#tdih_icon { background: transparent url('../images/tdih_admin_icon.png') no-repeat; }

#editevent { width: 50%; }

.column-event_date { width: 120px; }
